<ws-navbar></ws-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="facets">
        <seco-text-facet data-options="facetCtrl.facets.name"></seco-text-facet>
        <seco-timespan-facet data-options="facetCtrl.facets.birthDate"></seco-timespan-facet>
        <seco-timespan-facet data-options="facetCtrl.facets.timeCaptured"></seco-timespan-facet>
        <seco-timespan-facet data-options="facetCtrl.facets.deathDate"></seco-timespan-facet>
        <seco-checkbox-facet data-options="facetCtrl.facets.additionalMaterial"></seco-checkbox-facet>
        <seco-basic-facet data-options="facetCtrl.facets.unit"></seco-basic-facet>
        <seco-basic-facet data-options="facetCtrl.facets.rank"></seco-basic-facet>
        <!-- <seco-basic-facet data-options="facetCtrl.facets.camps"></seco-basic-facet> -->
        <seco-basic-facet data-options="facetCtrl.facets.occupation"></seco-basic-facet>
        <seco-basic-facet data-options="facetCtrl.facets.maritalStatus"></seco-basic-facet>
        <seco-basic-facet data-options="facetCtrl.facets.numChildren"></seco-basic-facet>
        <seco-basic-facet data-options="facetCtrl.facets.birthPlace"></seco-basic-facet>
        <seco-basic-facet data-options="facetCtrl.facets.domicilePlace"></seco-basic-facet>
        <seco-basic-facet data-options="facetCtrl.facets.residencePlace"></seco-basic-facet>
        <seco-basic-facet data-options="facetCtrl.facets.capturingPlace"></seco-basic-facet>
        <seco-basic-facet data-options="facetCtrl.facets.deathPlace"></seco-basic-facet>

      </div>
    </div>

    <div class="col-md-10">
      <div ui-view></div>
    </div>

  </div>
</div>

<div ng-include="'/page-templates/footer.html.partial'"></div>
