<div>
    <!--<div id="my-thumbs-list">-->
        <!--<img src="images/menehtyneet.jpg" style="height: 95px; repeat: " alt="Menehtyneet"/>-->
    <!--</div>-->
    <h1 translate>APP_TITLE</h1>
    <p translate>HELP_TEXT</p>

</div>

<table class="table casualty-table ng-table-responsive" ng-table="vm.tableParams">
  <colgroup>
    <col width="10%" />
    <col width="4%" />
    <col width="6%" />
    <col width="15%" />
  </colgroup>
  <tr ng-show="!vm.isLoadingResults" ng-repeat="person in $data">
    <td data-title="'NAME' | translate">
      <a href="#" ng-if="::person.name">{{::person.name}}</a>
    </td>
    <td data-title="'RANK' | translate">
      <a href="#" ng-if="::person.rank">{{::person.rank}}</a>
    </td>
    <td data-title="'UNIT' | translate">
      <a href="#" ng-if="::person.unit">{{::person.unit}}</a>
    </td>
    <td data-title="'PLACE_CAPTURED' | translate">
      <a href="#" ng-if="::person.place_captured">{{::person.place_captured}}</a>
    </td>
    <td data-title="'MARITAL_STATUS' | translate">
      {{::person.marital_status}}
    </td>
    <td data-title="'OCCUPATION' | translate">
      <span ng-if="::person.occupation" ng-repeat="occupation in ::person.occupation">
        <a href="#">{{::occupation}}</a>{{$last ? '' : ', '}}
      </span>
    </td>
    <td data-title="'NUM_CHILDREN' | translate">
      {{::person.children}}
    </td>
    <td data-title="'EXPLANATION' | translate">
      {{::person.explanation}}
    </td>
    <td data-title="'BIRTH_DATE' | translate">
      <a href="#" ng-if="::person.birth_date">{{::person.birth_date}}</a>
    </td>
    <td data-title="'TIME_CAPTURED' | translate">
      <span ng-if="::person.time_captured" ng-repeat="time in ::person.time_captured">
        <a href="#">{{::time}}</a>{{$last ? '' : ', '}}
      </span>
    </td>
    <td data-title="'RETURNED_DATE' | translate">
      <a href="#" ng-if="::person.returned_date">{{::person.returned_date}}</a>
    </td>
    <td data-title="'DEATH_DATE' | translate">
      <a href="#" ng-if="::person.death_date">{{::person.death_date}}</a>
    </td>
    <td data-title="'CAMPS' | translate">
      <span ng-if="::person.camps" ng-repeat="camp in ::person.camps">
        <a href="#">{{::camp}}</a>{{$last ? '' : ', '}}
      </span>
    </td>
    <!--<td data-title="'Muokkaa' | translate">-->
      <!--<a href="#">O</a>-->
    <!--</td>-->
    <!--<td data-title="'CAUSE_OF_DEATH' | translate">-->
      <!--{{::person.cause_of_death}}-->
    <!--</td>-->
  </tr>
</table>
<img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>
