<div>
    <h1 translate>APP_TITLE</h1>
    <p translate>HELP_TEXT</p>
</div>

<table class="table casualty-table ng-table-responsive" ng-table="vm.tableParams">
  <tr ng-show="!vm.isLoadingResults" ng-repeat="person in $data">
    <td data-title="'NAME' | translate">
      <a ng-href="/persons/{{ ::person.warsa_person | localId }}" ws-page-link ng-if="::person.warsa_person">
        {{::person.name}}
      </a>
    </td>
    <td data-title="'BIRTH_MUNICIPALITY' | translate">
      <a ws-page-link ng-href="/places/page?oldMap=true&uri={{::person.municipality_of_birth_uri}}">
        {{::person.municipality_of_birth_literal}}
      </a>
    </td>
    <td data-title="'BIRTH_DATE' | translate">
      <span ng-repeat="time in ::person.birth_date | castArray">
        <a ws-page-link ng-if="::person.birth_date" ng-href="/times/page/time_{{::time}}-{{::time}}">
          {{::time | date:'dd.MM.yyyy'}}
        </a>
      </span>
    </td>
    <td data-title="'BIRTH_DATE' | translate">
      <span ng-repeat="time in ::person.birth_date | castArray">
        <a ws-page-link ng-if="::person.birth_date" ng-href="/times/page/time_{{::time}}-{{::time}}">
          {{::time | date:'dd.MM.yyyy'}}
        </a>
      </span>
    </td>
    <td data-title="'RANK' | translate">
      <span ng-repeat="rank in ::person.rank | castArray">
        <a ws-page-link ng-href="/ranks/page/{{ ::rank.id | localId }}">{{ ::rank.label }}</a>{{ $last ? '' : ', ' }}
      </span>
      <span ng-if="::(!person.rank && person.rank_orig)">{{ ::person.rank_orig | join:', ' }}</span>
    </td>
    <td data-title="'UNIT' | translate">
      <span ng-switch="!!person.warsa_unit">
        <a ng-switch-when="true" ws-page-link ng-href="/units/page/{{ ::person.warsa_unit | localId}}">{{::person.unit}}</a>
        <span ng-switch-when="false">{{::person.unit}}</span>
      </span>
    </td>
    <td data-title="'OCCUPATION' | translate">
      <span ng-switch="!!person.occupation_label">
          <span ng-switch-when="true">
            <span ng-repeat="occupation in ::person.occupation_label | castArray">
              {{::occupation}}{{$last ? '' : ', '}}
            </span>
        </span>
      <span ng-switch-when="false">
        <span ng-repeat="occupation_literal in ::person.occupation_literal | castArray">
            {{::occupation_literal}}{{$last ? '' : ', '}}
          </span>
        </span>
      </span>
    </td>
    <td data-title="'TIME_CAPTURED' | translate">
      <span ng-repeat="time in ::person.time_captured | castArray">
        <a ws-page-link ng-href="/times/page/time_{{::time}}-{{::time}}">{{::time | date:'dd.MM.yyyy'}}</a>{{ $last ? '' : ', ' }}
      </span>
    </td>
    <td data-title="'CAPTURE_MUNICIPALITY' | translate">
      <a ws-page-link ng-href="/places/page?oldMap=true&uri={{::person.place_captured.id}}">
        {{::person.place_captured.label}}
      </a>
    </td>
    <td data-title="'RETURNED_DATE' | translate">
      <a ws-page-link ng-href="/times/page/time_{{::person.returned_date}}-{{::person.returned_date}}">
        {{::person.returned_date | date:'dd.MM.yyyy'}}
      </a>
    </td>
    <td data-title="'DEATH_DATE' | translate">
      <span ng-repeat="time in ::person.death_date | castArray">
        <a ws-page-link ng-href="/times/page/time_{{::time}}-{{::time}}">
          {{::time | date:'dd.MM.yyyy'}}
        </a>
      </span>
    </td>
    <td data-title="'DEATH_MUNICIPALITY' | translate">
        <a ws-page-link ng-href="/places/page?oldMap=true&uri={{::person.municipality_of_death_uri}}">
          {{::person.municipality_of_death_literal}}
        </a>
    </td>
  </tr>
</table>
<img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>
